version: 2
jobs:
  build:
    working_directory: ~/app
    docker:
      - image: circleci/node:10.21.0
    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-

      - run: yarn

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: yarn build
      - run: yarn test:coverage
      - run: yarn codecov
  deploy:
    working_directory: ~/app
    docker:
      - image: circleci/node:10.21.0
    steps:
      - checkout
      - run: cd docs;yarn;yarn build
      - run: yarn
      - run: git config --global user.email "<>"; git config --global user.name "CircleCI"; yarn gh-pages

workflows:
  version: 2
  main:
    jobs:
      - build
      - deploy:
          filters:
            branches:
              only: master
